.main {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    position: relative;
    overflow: visible;
}

.main > div {
    width: 100%;
    height: 100%;
    min-height: inherit;
}

.route {
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 0px 12px;
}

body {
    margin: 0;
}

:global(.styles-module_content__CEfno) {
    position: relative;
    height: 800vh !important;
    width: calc(1080px * 2) !important;
    background-color: white;
    background-size: 30px 30px;
    background-image: radial-gradient(circle, #b8b8b8bf 1px, rgba(0, 0, 0, 0) 1px);
}
